

.player {
  position: fixed;
}

.first {
  width: 200px;
  left: calc( 50% - 100px);
  top: calc( 50% - (100px * 9 / 16));
}

.second {
  width: 1000px;
  left: calc( 50% - 500px);
  top: calc( 50% - (500px * 9 / 16));
}

.third {

}

.end {
  width: 50px;
}
